header {
    background:lightblue;
    color: white;
    font-family: "Joti One", cursive, Helvetica;
    font-size: 32px;
    text-align: center;
    width: 100vw;
    height: 50vh;
    padding:0;
    margin:0;
  }
  body{
    padding: 0;
    margin:0;
  }
  header h1 {
    padding-top: 100px;
    margin: 0;
  }
  h2 {
    text-decoration-color: black;
    font-family: Helvetica;
    text-align: center;
    color:black;
  }
  h3 {
    text-decoration-color: black;
    font-family: Helvetica;
    text-align: center;
    color:black;
  }
  nav{
      background: black;
    padding: 0 10px;
    font-family: sans-serif;
  }
  nav a{
      color:#ccc;
      display: inline-block;
      font-weight: 850;
      padding: 5px 10px;
      text-decoration: none;
  }
  nav a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  nav a:hover{
      color:white;
  
  }
  a:visited{
      text-decoration-color: black;
  }
  a{
      text-decoration-color: black;
  }
  a:hover{
      text-decoration-color: black;
  }
  p{
  text-align:center;
  }
  aside{
    display: block;
    float: right;
  }
  footer{
    height:200px;
    border-color: darkorange;
    background-color: #eee;
    border-width: 5px;
    border-bottom-color: black;
    border-color: black;
    text-align: center;
    text-decoration-color:  red;
    text-decoration: none;
  }
  a href{
    text-align:center;
  }
  iframe{
    display: center;
    border: 5px;
  }
  p{
    text-align: center;
    text-decoration-color: black;
    font-size: 110%;
  }
  
  .dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgreen;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Helvetica;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: lightgreen;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .learnimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .ad {
    float: right;
    clear: none;
    padding:10px;
  }
  h5 {
    text-decoration-color: black;
    font-family: Helvetica;
    text-align: center;
    color:black;
  }
  footer {
    background-color:lightblue;
    padding-top: 20px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
    text-decoration-color: white;
    display: block;
  }
  .footer-text {
    text-decoration-color: white;
    color:white;
  }
.floatright {
  float:right;
}
.ultcp {
  align-content: center;
  padding-left:500px;
}